  @media all{
  
  body{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    text-align: center;
  }
  
  body{
    margin:0;
    padding:0;
  }

  .input-append {
    white-space: nowrap;  
    font-size: 0;
    display:inline-block;
  }

  .input_mail {
    border: 2px #243139;
    border-radius: 6px 0px 0px 6px;
    width:250px;
  }

  .btn {
    margin-left: -1px; 
    background-color: #2ebcea;  
    border: 2px #243139;
    border-radius: 0px 6px 6px 0px; 
    padding:9px 20px 9px 20px;
    cursor: pointer;
    color: white;  
  }

  .link{
    background-color: #2ebcea;  
    border: 2px #243139;
    border-radius: 6px 6px 6px 6px; 
    padding:10px 20px 10px 20px;
    color: white;
  }

  #everywhere {
    background-color: #2ebcea;
  }

  #footer{
    background-color: #243139;
  }
  #footer p {
    padding: 20px 20px 20px 20px;
  }

  a {
    color: white;  
    text-decoration: none;
  }

  a:link {
    color: white;
  }
  a:active {
    color: white;
  }
  a:visited {
    color: white;
  }
  td.links_menu:hover {
    border-bottom: 5px solid #2ebcea;
    padding-bottom: 17px;
  }
  td.links_menu{
   border-bottom:5px solid transparent; 
  }

  #header, #everywhere, #footer {
    color: white;
  }

  table{ 
    margin-left: auto;
    margin-right: auto;
  }

  .input-append input {
    padding: 10px 20px 10px 20px;
  }

  #first_request {
    margin-bottom: 80px;
  }
  #inp{    
    width:400px;
    height:30px;
  }

  #header{
    background-image: url('img/background_photo_1280.jpg');
    background-repeat:no-repeat;
    background-position:center;
    position: relative;
  }

  .layer{
    background: rgb(20, 20, 20); /* Fall-back for browsers that don't support rgba */
    background: rgba(20, 20, 20, 0.5);
    position: absolute;
    width: 100%;
    bottom: 0px;
  }
  
  .layer table{
    border-collapse: collapse;
  }
  
  #logo{
    margin-top:70px;
  }
  
  #header_btn{
    margin-bottom:70px;
    height:50px;
  }
  div.overlay{
    opacity: .6;
    background-color: black;
    position: absolute;
    left: 0; top: 0;
    width:100%;
    height:100%;
  }

  .layer td{
    padding: 17px 25px 17px 25px;
  }

  .pos_relative{
    position: relative;
  }

  .fb, .twit{
    vertical-align: middle;
  }

  .fb {  
  width: 50px;
  height:51px;
  display: inline-block;
  background: transparent url('img/fb_normal.png') no-repeat;
  }

  .fb:hover{
    background-image: url('img/fb_hover.png');
  }
  .twit {  
  width: 50px;
  height:51px;
  display: inline-block;
  background: transparent url('img/twit_normal.png') no-repeat;
  }

  .twit:hover{
    background-image: url('img/twit_hover.png');
  }
 
  
  #content {
    overflow: hidden;
    position: relative;
    text-align:left;
    padding:30px 0px 300px 0px;
    margin-left:200px; 
    }
  #content p{
    width: 370px;
    padding:5px 0px 15px 0px;
  }
  
  .section{
    padding: 50px 50px 50px 30px;
  }
  #everywhere img{
    height:50%;
    width:50%;
  }
  #everywhere h2, td{
    margin:0px;
    padding:0px;
  }
  
  #task {
    overflow: hidden;  
    text-align:left;
    background-color:#f6f9fa;
    }
  #task h1{
    padding:200px 0px 0px 0px;
  }
    
  #task img {
    padding-right:150px;
    padding-left:85px;
  }
  #task p{
    padding:20px 0px 30px 0px;
    width:935px;
  }
  #info {
    width: 80%;
    text-align: center;
    margin: 70px;
  }
  
  td.templateColumnContainer{
    vertical-align:bottom;
  }
  table.templateColumnContainer{
   width:100%; 
  }
  
}
  
@media only screen 
and (min-width : 1224px) and (max-width : 1824px){
  
  table{
    text-align: center;
  } 
  #task img { 
    float: left;
  }
  
  #ntb{
    position:absolute;
    right:-110px;
  }
  
  #header{
    background-image: url('img/background_photo_1280.jpg');
    background-repeat:no-repeat;
    background-position:center;
    position: relative;
  }
  #content {
    margin-top:120px;
  }
}

@media only screen 
and (min-width : 1281px){
  
  #header{
    background-image: url('img/background_photo_2560.jpg');
    background-repeat:no-repeat;
    background-position:center;
    position: relative;    
    padding-bottom:100px;
  }
}

@media only screen 
and (min-width : 1824px) {
  #header{
    background-image: url('img/background_photo_2560.jpg');
    background-repeat:no-repeat;
    background-position:center;
    position: relative;    
    padding-bottom:800px;
  }
  
  #ntb{
    position: relative;
    float:right;
    margin-right:450px;
    margin-top:100px;
  } 
  #content h1, #content p, #content a{
      margin-left:700px;
  }
  #content h1{
    width:300px;
    margin-top:200px;
  }
  #task img { 
    float: left;
    position:relative;
    margin-left:700px;
  }  
  #task p {
    margin-left:700px;
  }
  .templateColumns p{
      width:250px;
  }
  table.templateColumns{
      text-align:center;
  }
}

  /*high resolution-only background photo*/
  
@media
only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1824px) { 
  #header{
    background-image: url('img/background_photo_@2x.jpg');
    background-repeat:no-repeat;
    background-position:center;
    position: relative;
  }
}

/* Smartphones*/
@media only screen 
and (min-width : 320px) 
and (max-width : 700px){
  
  
	#content{
	  margin-left: 50px;
	  padding-bottom:5%;
	}
	#content p{
	  width:55%;
	}
	
	#everywhere h1, #everywhere p{
	  text-align:left;
	}

        .templateColumnContainer{
            display:block !important;
            /*width:100% !important;*/
        }
        
        td.templateColumnContainer{
	    text-align:left;
	}

        .leftColumnContent{
            font-size:16px !important;
            /*line-height:125% !important;*/
        }

        .rightColumnContent{
            font-size:16px !important;
            /*line-height:125% !important;*/
        }
        
        #GetInLine{
	  visibility: hidden;
	}
	
	#task img{
	  width:50%;
	  display: block;
	  text-align:center;
	  padding:0px;
	}
	
	#ntb{
	  width:50%;
	  display: block;
	  text-align:center;
	}
	#inp{
	  width:50%;
	}
	body{
	  font-size:75%;
	}
	
	#task h1{
	  padding-top:10px;
	}
	
	#task p{
	  width: 60%;
	}
	
	#task{
	  padding-left:30px;
	}
	
	#info{
	  margin:0px;
	  position: relative;
	}
	
	#info img{
	  width:20%;
	}
	.input_mail{
	   width:50%;
	}
	p{
	  text-align:left;
	}
	.layer table{
	  width:100%;
	}
	#footer br{
	  display: none;
	}
}